header{
	background-image: url("../image/image3.jpg");
	background-color: red;
	padding-bottom: 30%;
	background-size: cover;
	background-position-y: -204px;
	background-repeat: repeat;
}

img{
  max-width: 100%;
  height: auto;
}